
@media screen and (max-width: 955px) {
    h1{
        text-align: center;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
    * {
        justify-content: center;
        align-items: center;
        background-color: #202020;
        color: white;
        font-family: 'JetBrains Mono', monospace;
        border-radius: 5px;
    }
    fieldset {
        border: 2px solid;
        border-color: #2B2B2B ;
        border-radius: 5px;
        text-align: left;
    }
    a {
        text-decoration: none;
    }
    button {
        font-weight: bold;
        background-color: #2b2b2b;
        border-radius: 5px;
        padding: 5%;
        border: 2px solid #4A4A4A;
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }

    button:active {
        font-weight: bold;
        background-color: #202020;
        border-radius: 5px;
        padding: 5%;
        border: 2px solid #2B2B2B;
    }

    #result {
        align-items: center;
        align-self: center;
        justify-content: center;
        text-align: center;
        background-color: #202020;
        border: 0px solid #ccc; 
        margin: 0 auto;
        transform: translateX(-20px);
    }

    li {
        text-align: center;
        align-items: center;
    }

    ol {
        text-align: center;
        list-style: none;
    }


    input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 40%;
    border: 2px solid #4A4A4A;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  
  input[type="radio"]:checked {
    background-color: transparent;
  }
  
  input[type="radio"]::before {
    content: "";
    display: block;
    width: 10px; 
    height: 10px; 
    border-radius:40%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input[type="radio"]:checked::before {
    background-color: #fff;
  }
}

@media screen and (min-width: 955px) {

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#result {
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    background-color: #202020;
    min-width: 900px;
    height: 150px;
    border: 0px solid #ccc; 
    margin: 0 auto;
    padding-left: 20px;
    padding-right:20px;
    border-radius: 0px 0px 10px 10px;
}

* {
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

body {
   background-color: #2B2B2B;
   font-family: 'JetBrains Mono', monospace;
   justify-content: center;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding-bottom: 50px;
   padding-top: 0px;
 }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #202020;
    width: 60%;
    border-radius: 10px 10px 0px 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    min-width: 900px;
    margin-left: 20px;
    margin-right:20px;
  }


  
  .centered-element {
    width: 900px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
  }

button {
    font-weight: bold;
    background-color: #2b2b2b;
    border-radius: 5px;
    width:200px;
    height: 75px;
    border: 2px solid #4A4A4A;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

button:active {
    font-weight: bold;
    background-color: #202020;
    border-radius: 5px;
    width:200px;
    height: 75px;
    border: 2px solid #2B2B2B;
}

button:hover {
    transform: translateX(0%) scale(1.1);
}


.centered-button {
    text-align: center;
}

form {
    color: white;   
    text-align: left;
}

fieldset {
    border: 2px solid;
    border-color: #2B2B2B ;
    border-radius: 5px;
    text-align: left;
    width:800px;
    
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 40%;
    border: 2px solid #4A4A4A;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  
  input[type="radio"]:checked {
    background-color: transparent;
  }
  
  input[type="radio"]::before {
    content: "";
    display: block;
    width: 10px; 
    height: 10px; 
    border-radius:40%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input[type="radio"]:checked::before {
    background-color: #fff;
  }
  
  input[type="radio"]:hover::before {
    transform: translateY(-50%) translateX(-50%) scale(1); 
  }

  input[type="radio"]:hover {
    transform: translateX(0%) scale(1.2); 
  }

h2 {
    text-align: left;
    justify-content: left;
    margin-left: 50px;
}

a {
    text-decoration: none;
}

h1:hover {
    transform: translateX(0%) scale(1.1);
}

ol {
    text-align: center;
    list-style: none;
}

p {
    text-align: center;
}

h3 {
    text-align: center;
}

li {
    text-align: center;
    align-items: center;
}

.answercontainer {
    background-color: #202020;
    border-radius: 10px;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    transform: translateX(-20px);
    margin-bottom: 0px;

    width: 100%;
    
    margin-left: auto;
    margin-right:auto;
}

.fakeend {
    background-color: #2B2B2B;
    height: 50px;
    width: 60%;
    min-width: 900px;
    margin-left: 20px;
    margin-right:20px;
}

}