<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>nemáš čas</title>
			<link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
			<link rel="stylesheet" href="../static/styles2.css"/>
			<script src="https://unpkg.com/htmx.org@1.9.6"></script>
		</head>
		<body>
			<h1><a href="/" id="titlecard">nemascas.cz</a></h1>
				<div class="container">
                    
						
                    <h2>Vy nemáte čas?!</h2>
                    <h3>tak jste na správném místě</h3>
                    <p>u nemascas.cz vám nabízíme ZDARMA supr čupr webový dotazník, který:</p>
                    <ul>
                        <li>vypoví vám zdroje vaší nečasnosti</li>
                        <li>řekne vám řešení na zbavení se těchto zdrojů</li>
                        <li>a umožní vám získat čas</li>
                    </ul>
                    <p>si myslíte, že žádný dotazník není, že vám lžu? NELŽU! podívejte se niže na fotomontáž tehotéž produktu:</p>
                    <table>
                        <tr>
                            <th><img src="../static/images/ukazka1.png" alt="fotka dotazníku"></th>
                            <th><img src="../static/images/ukazka2.png" alt="druhá fotka dotazníku"></th>
                            </th>
                        </tr>
                    </table>
					<p>neváhejte, a vyplňte nyní!</p>
                    <a href="/kviz" class="hyperbutton">spustit dotazník</a>
                    <p>jestli to vás nepřesvědčilo, máme pro vás i video:</p>
                    <div class="ytiframe">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/BZZzmTgRpu4?si=DWxXI-fPGoma7umW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
				</div>	

                <p>(zdroje: <a href="https://google.com">google</a>, <a href="https://chat.openai.com">chatgpt</a>, <a href="https://www.unsplash.com">unsplash</a>)</p>	
	    </body>	
	</html>	